.footer {
  display: block;
  width: 100vw;
  height: 40px;
  background-color: $background-color-hero;
}

.github-link {
  text-align: center;
  padding-top: 5px;

  img {
    width: 30px;
  }

  a {
    padding-left: 7.5px;
    padding-right: 7.5px;
  }
}