@import '../app/theme';

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color-body;
}

.main-body {
  padding-top: 2%;
}

.main-title {
  display: block;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 2.3em;
}