@import '../app/theme';

.main {
  width: 100vw;
  min-height: 100vh;
  background-color: $background-color-body;
}

.main-hero {
  background-color: $background-color-hero;
}

.main-body {
  padding-top: 2%;
}

.main-title {
  display: block;
  padding-top: 5%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 3em;
  color: white;
}

.main-subtitle {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  font-size: 1.2em;
  color: white;
}

.main-body-intro-message {
  display: table-cell;
  margin-right: auto;
  margin-left: auto;
  margin-top: -2%;
  text-align: center;
  font-size: 1.5em;
  height: 80vh;
  font-family: Code-Font, sans-serif;
  color: $background-color-hero;
}