@import '../../app/theme';

.search-section {
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px 5px;
  width: 45%;
  padding: 2% 2% 3%;
  text-align: center;
}

.search-section-text {
  font-family: Code-Font, sans-serif;
  font-size: 1.2em;
  color: white;
}

.search-error-field {
  display: block;
  text-align: center;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
  font-family: Code-Font, sans-serif;
  font-size: 1.2em;
  color: $primary-color;
}