@import '../../app/theme';

.result {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  padding-bottom: 2%;
}

.result-links {
  text-decoration: none;
  font-family: Header-Font, sans-serif;
}

.highlighted-code {
  background-color: $highlight-color !important;
}

#github-link:hover {
  color: $primary-color
}

#raw-link:hover {
  color: $primary-color
}