@import './components/app/theme';
@import './components/app/footer/footer';
@import './components/main/main';
@import './components/main/search/search';
@import './components/main/result/result';
@import './components/main/pagination/pagination';

body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

p {
  font-family: Body-Font, sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Header-Font, sans-serif;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
}

pre {
  margin: 0;
  padding: 0 !important;
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

.disable-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}